.heading {
  text-align: center;
  font-weight: 700;
  font-size: xx-large;
  margin-top: 20px;
  color: white;
}
.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
  padding: 60px;
}
.product-card {
  border-radius: 20px;
  flex: 1 1 400px;
}
.product-card img {
  height: 290px;
  width: 100%;
  object-fit: cover;
}
.product-info {
  background-color: cadetblue;
  padding: 10px;
  flex-grow: 1;
}
