@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*,
::after::before {
  margin: 0px;

  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: black;
  width: 100%;
}
.nav-bar {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 15px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.nav-bar:hover {
  text-decoration: none;
  background-color: rgb(126, 126, 126);
}
.logo > img {
  width: 100px;
  margin: 10px 10px;
  padding-left: 0%;
  margin: 5px;
}

.search-bar {
  display: flex;
  flex: 1;
  margin: 0px, 0px;
}
.search-bar input {
  display: none;
  display: flex;
  flex-grow: 1;
  border: none;
  border-radius: 5px 0px 0px 5px;
  font-weight: 600;
  padding: 5px 8px;
  height: 30px;
  margin-right: 0px;
  margin-left: 0px;
}
.search-bar > button {
  padding: 10px 10px;
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(57, 58, 131);
  color: white;
  cursor: pointer;
  height: 43px;
}
.search-bar button:hover {
  background-color: rgb(153, 117, 117);
}
.nav-links a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-size: 20px;
}
.nav-links a:hover {
  text-decoration: none;
  text-decoration: underline;
}
.icon a {
  margin-left: 10px;
}
.icon img {
  padding: 10px;
  width: 30px;
  height: 20px;
  filter: invert(100%);
  margin-left: 5px;
}
.hero-section img {
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
}
.main {
  margin-bottom: 10px;
  margin-top: 130px;
}
